<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="jarvis.graph.visualiser.visualisator" name="Visualisator Extension POint" schema="schema/jarvis.graph.visualiser.visualisator.exsd"/>
   <extension-point id="jarvis.graph.visualiser.source" name="Source Estension Point" schema="schema/jarvis.graph.visualiser.source.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jarvis.graph.visualiser.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="jarvis.graph.visualiser.core.Perspective"
            id="JarvisGraphVisualiser.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jarvis.graph.visualiser.core.views.tree.TreeView"
            icon="icons/var_cntnt_prvdr.gif"
            id="JarvisGraphVisualiser.view"
            name="Node Explorer">
      </view>
      <view
            class="jarvis.graph.visualiser.core.views.JarvisGraphViewer"
            icon="icons/XRefIcon.gif"
            id="JarvisGraphVisualiser.jarvisgraphviewer"
            name="Graph">
      </view>
      <view
            class="jarvis.graph.visualiser.core.views.JarvisGraphDescription"
            icon="icons/prop_ps.gif"
            id="JarvisGraphVisualiser.JarvisGraphDescription"
            name="Graph Description"
            restorable="true">
      </view>
      <view
            class="jarvis.graph.visualiser.core.views.JarvisMiniMapViewer"
            id="JarvisGraphVisualiser.JarvisMiniMapViewer"
            name="Mini Map Viewer"
            restorable="true">
      </view>
      <view
            class="jarvis.graph.visualiser.core.views.JarvisPartDescription"
            icon="icons/outline_co.gif"
            id="JarvisGraphVisualiser.JarvisPartDescription"
            name="Node Description"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="JarvisGraphVisualiser.view"
               minimized="false"
               moveable="true"
               ratio="0.15"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="JarvisGraphVisualiser.jarvisgraphviewer"
               minimized="false"
               ratio="0.9"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="JarvisGraphVisualiser.JarvisGraphDescription"
               minimized="false"
               moveable="true"
               ratio="0.8"
               relationship="right"
               relative="JarvisGraphVisualiser.jarvisgraphviewer"
               visible="true">
         </view>
         <view
               id="JarvisGraphVisualiser.JarvisMiniMapViewer"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="JarvisGraphVisualiser.JarvisGraphDescription"
               visible="true">
         </view>
         <view
               id="JarvisGraphVisualiser.JarvisPartDescription"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="JarvisGraphVisualiser.JarvisGraphDescription"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="jarvis.graph.visualiser.commands.wizard"
                  icon="icons/XRefIcon.gif"
                  id="jarvis.graph.visualiser.commands.wizard"
                  label="Compose new view"
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="JarvisGraphVisualiser.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/delete_config.gif"
                  label="Exit"
                  mnemonic="E">
            </command>
         </menu>
         <menu
               label="Tools"
               mnemonic="T">
            <command
                  commandId="jarvis.graph.visualiser.commands.pluginmenager"
                  icon="icons/environment_obj.gif"
                  id="jarvis.graph.visualiser.commands.pluginmenager"
                  label="Plugin menager"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help"
               mnemonic="H">
            <command
                  commandId="jarvis.graph.visualiser.commands.about"
                  icon="icons/aspect.gif"
                  id="jarvis.graph.visualiser.commands.menu.about"
                  label="About"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jarvis.graph.visualiser.category"
            name="Help category">
      </category>
      <command
            categoryId="jarvis.graph.visualiser.category"
            defaultHandler="jarvis.graph.visualiser.handlers.JarvisAboutDialogHandler"
            id="jarvis.graph.visualiser.commands.about"
            name="About">
      </command>
      <command
            categoryId="jarvis.graph.visualiser.category"
            defaultHandler="jarvis.graph.visualiser.handlers.JarvisWizardHendler"
            id="jarvis.graph.visualiser.commands.wizard"
            name="Compose new view">
      </command>
      <command
            categoryId="jarvis.graph.visualiser.category"
            defaultHandler="jarvis.graph.visualiser.handlers.JarvisPluginMenagerHendler"
            id="jarvis.graph.visualiser.commands.pluginmenager"
            name="Plugin menager">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="jarvis.graph.visualiser.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/delete_config.gif"
                  id="Exit"
                  label="Exit"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="jarvis.graph.visualiser.commands.about"
                  icon="icons/aspect.gif"
                  label="About"
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="jarvis.graph.visualiser.commands.wizard"
                  icon="icons/XRefIcon.gif"
                  label="Compose new view"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="jarvis.graph.visualiser.commands.pluginmenager"
                  icon="icons/environment_obj.gif"
                  label="Plugin menager"
                  mnemonic="P"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="JarvisGraphVisualiser.toolbar1">
            <dynamic
                  class="jarvis.graph.visualiser.contributions.LayoutSelection"
                  id="JarvisGraphVisualiser.dynamic1">
            </dynamic>
         </toolbar>
         <toolbar
               id="jarvis.graph.visualiser.filter">
            <dynamic
                  class="jarvis.graph.visualiser.core.filter.JarvisNodeFilter"
                  id="JarvisGraphVisualiser.dynamic1">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="JarvisGraphVisualiser.application"
            name="jarvis.graph.visualiser.product">
      </product>
   </extension>

</plugin>
